{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Addressing the Microplastic Challenge{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Project Description</h2>
    <hr>
    <p>
      Increasing population numbers result in increased consumption of goods and services, exacerbating the production of hazardous waste that causes air, soil and water contamination that consequently threatens the health of natural beings. 
The global deterioration of water, soil, and atmosphere by the release of toxic chemicals from ongoing anthropogenic activities is becoming a problem for the planet, posing numerous issues relevant to ecosystem and human health that intensify the challenges of applying conventional treatment technologies. 
Latin America, including Brazil, is known for its rich biodiversity and the presence of diverse aquatic ecosystems such as rivers, lakes, mangroves, and the extensive coastline. These areas are home to a wide variety of aquatic species, many of which depend on these habitats for their survival, and this contamination poses a direct threat to these ecosystems and the region's unique biodiversity. We also have an important fishing and aquaculture industry, with coastal and riverine communities depending on these activities for their livelihoods. The presence of microplastics in water bodies negatively affects the quality of fisheries resources, compromising the food and economic security of these communities.
Microplastics are plastic particles generally found smaller than 5mm in size and are the result of the fragmentation of larger plastics, thus being one of the main pollutants in the aquatic and terrestrial environment, because they act as captors of Persistent Organic Pollutants, which are highly harmful and toxic, being linked to hormonal, immunological and reproductive dysfunctions in fauna, flora, microbiota and human health due to their ability to absorb compounds of high toxicity, such as heavy metals (mercury, cadmium, etc.).
Besides being able to destroy the natural wonders of the world, aquatic pollutants unbalance the food chains of several animals present in water bodies, reducing the diversity of fauna and flora of the biomes and harming organisms by causing a series of damages to living tissue. 
The prevalence of microplastics in Latin American water bodies, including rivers, lakes, and oceans, poses a significant threat to these ecosystems and the communities that rely on them. The unique geographical features and hydrological systems in the region contribute to the accumulation and transport of microplastics, exacerbating the problem. By addressing the microplastic challenge, our team aims to protect these fragile ecosystems, preserve biodiversity, and support sustainable economic development in the region.
The UNILA-LatAm team proposed to think of an alternative to reduce the risks and damage caused by the concentration of microplastics in the environment, aiming for change through innovative approaches, including awareness of consumption practices and rapid adoption of alternatives to reduce plastics. Thus, the MHETYGUÁ project aims to address this urgent problem by developing innovative technologies and strategies to reduce the concentration of microplastics in the environment. 
Our project focuses on using the microalgae Chlamydomonas reinhardtii as a tool for microplastic degradation. We aim to engineer this alga using synthetic biology techniques to introduce genes responsible for producing plastic-degrading enzymes such as Fast-PETase and MHETase, in addition to the use of a flexible 12-amino acid linker that increases the catalytic activity and secretion of the products. These enzymes have the ability to break the chemical bonds of microplastics, transforming them into less harmful byproducts.
The choice of microalgae as our chassis is driven by its simple structure, ease of manipulation and maintenance, and potential for biomolecule studies have made it an excellent model organism for studying photosynthesis, genetics, cell biology, and biogenesis, and it has demonstrated the ability to adhere naturally to PET microparticles. 
Clean water reflects directly and positively on the local fauna, therefore contaminated water reflects negatively on our fauna and biodiversity, which ends up causing diseases and even leading organisms to death, configuring a major social and environmental problem.
Through the MHETYGUÁ project, we aspire to contribute to the reduction of microplastic-related problems in the Foz do Iguaçu region and promote environmental awareness.
    </p>
  </div>
  
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-4">
    <h2>References</h2>
    <hr>
    <p>
      iGEM teams are encouraged to record references they use during the course of their research. These references should be posted somewhere on the team's wiki so that judges and other visitors can see how the team thought about the project and what works inspired them.
    </p>
  </div>
</div>

{% endblock %}
